<!DOCTYPE html>
<html>
<%- include('../partials/head') %> 
  <body>
    <%- include('./partials/header') %>
    <main class="my-5">
        <div class="container">
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-12 col-md-6 col-md-4">
                  <label for="marca" class="form-label">Marca</label>
                  <input type="text" class="form-control" id="validationCustom01" name="marca" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-12 col-md-6 col-md-4">
                    <label for="modelo" class="form-label">Modelo</label>
                  <input type="text" class="form-control" id="validationCustom02" name="modelo" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-12 col-md-6 col-md-4">
                    <label for="precio" class="form-label">Precio</label>
                  <div class="input-group has-validation">
                    <input type="number" class="form-control" id="validationCustomUsername" name="precio" required>
                    <div class="invalid-feedback">
                      Please choose a username.
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-md-4">
                    <label for="cuotas" class="form-label">Cuotas</label>
                    <div class="input-group has-validation">
                      <input type="number" class="form-control" id="validationCustomUsername" name="cuotas" required>
                      <div class="invalid-feedback">
                        Please choose a username.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-md-4">
                    <label for="anio" class="form-label">Año</label>
                  <input type="date" class="form-control" id="anio" name="anio" required>
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-12 col-md-6 col-md-4">
                    <label for="color" class="form-label">Color</label>
                    <input type="color" name="color" class="form-control" id="color" required>
                    <div class="invalid-feedback">
                      Please provide a valid city.
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-md-4">
                    <label for="anio" class="form-label">Año</label>
                    <input type="text" class="form-control" id="anio" required>
                    <div class="invalid-feedback">
                      Please provide a valid city.
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-md-4">
                    <label for="patente" class="form-label">Patente</label>
                  <input type="text" class="form-control" id="patente" required>
                  <div class="invalid-feedback">
                    Please select a valid state.
                  </div>
                </div>
                <div class="col-12 col-md-6 col-md-4">
                    <label for="km" class="form-label">Kilometraje</label>
                  <input type="number" class="form-control" id="km" name="km" required>
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
              </form>
        </div>
    </main>
    <%- include('../partials/footer') %>

  </body>
</html>

